.header {
  position: relative;

  padding: calc(50% - 585px);
  padding-top: 41px;
  padding-bottom: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;
    background-color: #f6f5f4;
  }

  &::before {
    bottom: 61px;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
}

.header__menu-toggle {
  display: none;
}

.header__sub-nav {
  display: none;
}

.header__search {
  margin-top: 4px;
  margin-right: auto;
  margin-bottom: 44px;
}

.header__logo {
  position: absolute;
  top: 41px;
  left: 50%;

  transform: translateX(-50%);
}

.header__logo[href] {
  &:hover,
  &:focus {
    opacity: 0.7;

    outline: none;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__user-list {
  margin-top: 12px;
  margin-left: auto;
}

.header__cart {
  display: flex;

  margin-top: 12px;

  font-size: 14px;
  line-height: 21px;
  color: $link-color;

  &--svg {
    display: none;
  }

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  &:active {
    color: $link-color--active;
  }
}

.header__cart-quantity {
  margin-left: 6px;
}

.header__cart-svg {
  display: none;
}

.header__nav {
  padding: 18px 0;
  width: 100%;
}

@media (max-width: 1260px) {
  .header {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: $tablet-width) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 30px 45px;
    padding-bottom: 75px;

    background-color: $background-color--brown;

    &::before,
    &::after {
      display: none;
    }

    &--closed {
      padding-bottom: 30px;

      background-color: $background-color;
    }
  }

  .header__wrapper {
    position: absolute;
    top: 96px;
    left: 0;
    z-index: 100;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0 45px;
    padding-bottom: 75px;
    height: calc(100vh - 96px);

    background-color: $background-color--brown;

    overflow-y: auto;
  }

  .header__menu-toggle {
    display: flex;

    margin-top: 24px;
    margin-right: auto;
    padding: 0;

    background: transparent;
    border: none;

    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;

      outline: none;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .header__menu-toggle-svg {
    stroke: $white;
  }

  .header__logo {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 0;
    width: 66px;
    height: 66px;

    transform: translateX(0);

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;

      width: 66px;
      height: 66px;

      background-image: url("../img/logo-white.svg");
      background-color: $background-color--brown;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .header__cart {
    display: none;

    margin-top: 24px;
    margin-left: auto;
    margin-right: -1px;
    padding-left: 6px;

    &--svg {
      display: block;

      &:hover,
      &:focus {
        opacity: 0.7;

        outline: none;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  .header__cart-text,
  .header__cart-quantity {
    display: none;
  }

  .header__cart-svg {
    display: block;

    fill: none;
    stroke: $white;
  }

  .header__search {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 46px;

    order: 4;
  }

  .header__nav {
    padding: 0;
    width: 100%;

    order: 5;
  }

  .header__main-nav {
    margin-bottom: 40px;
  }

  .header__sub-nav {
    display: block;

    margin-bottom: 45px;
  }


  .header__user-list {
    margin: 0;

    order: 6;
  }

  .header--closed .header__menu-toggle-svg {
    stroke: $dark;
  }

  .header--closed .header__logo::after {
    display: none;
  }

  .header--closed .header__cart-svg {
    stroke: $dark;
  }

  .header--closed .header__wrapper {
    display: none;
  }

  .header--no-js .header__wrapper {
    position: static;
    padding: 0;

    height: auto;
    overflow: visible;
  }

  .header--no-js .header__menu-toggle {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .header {
    padding: 20px 15px;
    padding-bottom: 45px;

    &--closed {
      padding-bottom: 20px;
    }
  }

  .header__wrapper {
    top: 102px;
    z-index: 100;

    padding: 0 15px;
    padding-bottom: 45px;
    height: calc(100vh - 102px);
  }

  .header__logo {
    margin-bottom: 36px;
    width: 52px;
    height: 52px;

    &::after {
      width: 52px;
      height: 52px;
    }
  }

  .header__logo-image {
    width: 52px;
    height: 52px;
  }

  .header__menu-toggle,
  .header__cart {
    margin-top: 17px;
  }

  .header__search {
    margin-top: 0;
    margin-bottom: 36px;
  }

  .header__main-nav {
    margin-bottom: 30px;
  }

  .header__sub-nav {
    margin-bottom: 35px;
  }

  .header--closed .header__logo {
    margin-bottom: 0;
  }

  .header--no-js .header__wrapper {
    padding: 0;
    height: auto;
  }
}
