.instagram {
  margin-bottom: 130px;
  padding: 0 calc(50% - 585px);

  text-align: center;
}

.instagram__title {
  margin-bottom: 17px;
}

.instagram__big-title {
  margin-right: -2px;
  font-size: 42px;
  line-height: 55px;
}

.instagram__link {
  margin-bottom: 60px;
}

.instagram__grid {
  display: flex;
}

.instagram__image-list {
  @include reset-list;
  margin-right: 30px;

  &:nth-of-type(3n+1) {
    width: calc(22.22% - 30px);
  }

  &:nth-of-type(3n+2) {
    width: calc(36.75% - 30px);
  }

  &:nth-of-type(3n+3) {
    width: 41%;
    margin-right: 0;
  }
}

.instagram__image-item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.instagram__img {
  width: 100%;
  height: auto;
}

.instagram__image-list--masonry {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.instagram__image-list--masonry .instagram__image-item {
  margin-bottom: 5px;
  margin-right: 16px;

  &:nth-child(4n+1),
  &:nth-child(4n+4) {
    width: calc(51.46% - 15px);
  }

  &:nth-child(4n+2),
  &:nth-child(4n+3) {
    width: calc(48.54% - 15px);
  }

  &:nth-child(4n+2) {
    margin-left: auto;
  }

  &:nth-child(4n+3) {
    margin-bottom: 0;
  }

  &:nth-child(4n+4) {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 0;
  }

  &:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media (max-width: 1260px) {
  .instagram {
    padding-left: 45px;
    padding-right: 45px;
  }
}


@media (max-width: $tablet-width) {
  .instagram {
    margin-bottom: 80px;
  }

  .instagram__image-list {
    margin-right: 18px;

    &:nth-of-type(3n+1) {
      width: calc(22.27% - 18px);
    }

    &:nth-of-type(3n+2) {
      width: calc(36.73% - 18px);
    }
  }

  .instagram__image-item {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .instagram__image-list--masonry .instagram__image-item {
    margin-bottom: 3px;
    margin-right: 10px;

    &:nth-child(4n+1),
    &:nth-child(4n+4) {
      width: calc(51.44% - 9px);
    }

    &:nth-child(4n+2),
    &:nth-child(4n+3) {
      width: calc(48.56% - 9px);
    }
  }
}

@media (max-width: $mobile-width) {
  .instagram {
    margin-bottom: 70px;
    padding: 0 15px;
  }

  .instagram__link {
    margin-bottom: 46px;
  }

  .instagram__image-list {
    margin-right: 15px;

    &:nth-of-type(3n+1) {
      width: calc(22.27% - 15px);
    }

    &:nth-of-type(3n+2) {
      width: calc(36.73% - 15px);
    }
  }

  .instagram__image-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .instagram__image-list--masonry .instagram__image-item {
    &:nth-child(4n+1),
    &:nth-child(4n+4) {
      width: calc(51.44% - 7.5px);
    }

    &:nth-child(4n+2),
    &:nth-child(4n+3) {
      width: calc(48.56% - 7.5px);
    }
  }
}

@media (max-width: 675px) {
  .instagram__grid {
    flex-wrap: wrap;
  }

  .instagram__image-list {
    margin-bottom: 15px;

    &:nth-of-type(3n+1) {
      width: calc(37.98% - 15px);
    }

    &:nth-of-type(3n+2) {
      margin-right: 0;
      width: 62.02%;
    }

    &:nth-of-type(3n+3) {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .instagram__image-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .instagram__image-list--masonry .instagram__image-item {
    margin-right: 15px;
    margin-bottom: 0;

    &:nth-child(4n+1) {
      order: 2;
      margin-right: 0;
      width: calc(52.59% - 7.5px);
    }

    &:nth-child(4n+2),
    &:nth-child(4n+4) {
      display: none;
    }

    &:nth-child(4n+3) {
      margin-top: auto;
      width: calc(47.41% - 7.5px);
    }
  }
}

@media (max-width: 382px) {
  .instagram__image-list {
    margin-bottom: 9px;

    &:nth-of-type(3n+1) {
      width: 130px;
    }

    &:nth-of-type(3n+2) {
      margin-right: 0;
      width: calc(100% - 145px);
    }
  }

  .instagram__image-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .instagram__image-list--big .instagram__img {
    width: 100%;
    height: 226px;
  }
}
