.main-nav {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    padding-left: 11px;
  }
}

.main-nav__link {
  line-height: 24px;
  color: $link-color;
}

.main-nav__link[href] {
  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  &:active {
    color: $link-color--active;
  }
}

@media (max-width: $tablet-width) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav__item {
    margin-right: 0;
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  .main-nav__link {
    font-size: 24px;
    line-height: 36px;
    color: $color--white;
  }

  .main-nav__link[href] {
    &:hover,
    &:focus {
      color: rgba($color--white, 0.8);
    }

    &:active {
      color: rgba($color--white, 0.6);
    }
  }
}
