.pages-list {
  @include reset-list;
  margin-top: 40px;
  margin-left: 40px;
}

.pages-list__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.pages-list__link {
  color: $sienna;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    color: darken($sienna, 10%);
  }
}
