.title {
  margin: 0;

  font-family: $extra-font;
  font-weight: $font-bold;
  font-size: $extra-size;
  line-height: $extra-height;
  color: $color--base;
  letter-spacing: 0.025em;
  text-align: center;

  &--white {
    color: $color--white;
    text-align: left;
  }

  &--capitalize {
    text-transform: capitalize;
  }
}
