/* Базовый шрифт */

$standard-font: "Poppins", "Trebuchet MS", "Helvetica", sans-serif;
$font-size: 16px;
$line-height: 21px;

$extra-font: "Cormorant Garamond", "Times New Roman", "Times", serif;
$extra-size: 34px;
$extra-height: 44px;

$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;


/* Точки перехода */

$tablet-only-width: 768px;
$desktop-width: 1024px;
$mobile-only-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;

/* Ретина */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Основные цвета */

$white: #ffffff;
$black: #000000;
$dark: #1d1613;
$pearl: #f0eae4;
$sienna: #a87b62;
$gray: #9b9997;

/* Основные цвета фонов */

$background-color: $white;
$background-color--gray: rgba($dark, 0.25);
$background-color--dark: $black;
$background-color--ligh: $pearl;
$background-color--brown: $sienna;

/* Основные цвета текста */

$color--base: $dark;
$color--light: $gray;
$color--white: $white;
$color--dark: $black;

/* Основные цвета ссылки */

$link-color: $dark;
$link-color--hover: $sienna;
$link-color--active: darken($link-color--hover, 10%);

/* Основные цвета кнопок */

$btn-background: $background-color--brown;
$btn-background--light: $background-color;
$btn-background--hover: darken($btn-background, 10%);
$btn-background--active: darken($btn-background, 20%);

$btn-color: $color--white;
$btn-color--dark: $color--base;

/* Свойства полей ввода */

$input-color: $color--base;
$input-border: 1px solid $dark;
$input-background: transparent;
$input-error-color: rgba(#ff0000, 0.8);

/* Тени */

$shadow-popup: 0 4px 32px rgba(121, 121, 121, 0.24);
$shadow-login: 0 5px 32px rgba(226, 221, 215, 0.24);
$shadow-filter: 0 5px 32px rgba(219, 213, 208, 0.24);
