/* Базовый шрифт */

$standard-font: "Fira Sans", "Verdana", sans-serif;
$font-size: 15px;
$line-height: 1.7;

$heading-font: "Montserrat", "Verdana", sans-serif;
$heading-size: 40px;
$heading-height: 49px;

$extra-font: "Raleway", "Verdana", sans-serif;
$extra-size: 21px;
$extra-height: 25px;

$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-extrabold: 800;

/* Точки перехода */

$tablet-only-width: 768px;
$desktop-width: 1024px;
$mobile-only-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;

/* Ретина */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Основные цвета */

$white: #ffffff;
$dark: #484848;
$gray: #ebebeb;
$blue: #1fc0fc;
$yellow: #ffc341;
$yellow-light: #ffd701;
$gradient: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);

/* Основные цвета фонов */

$background-color: $white;
$background-color--gray: rgba($gray, 0.95);

/* Основные цвета текста */

$color--base: rgba($dark, 0.87);
$color--light: rgba($dark, 0.5);
$color--white: $white;
$color--dark: $dark;
$color--emphasis: $blue;
$color--accent: $yellow;

/* Основные цвета кнопок */

$btn-background: $gradient;
$btn-background--hover: linear-gradient(109.15deg, $yellow -50.3%, $yellow-light 63.1%);
$btn-background--active: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, $yellow -50.3%, $yellow-light 63.1%);

$btn-color: $color--white;

/* Свойства полей ввода */

$input-color: $color--base;
$input-border: 2px solid #e3e3e3;
$input-background: $background-color;
$input-error-color: rgba(#ff0000, 0.5);

/* Тени */

$shadow-icon: 0 1px 4px rgba(0, 0, 0, 0.05);
$shadow-text: 0 1px 4px rgba(0, 0, 0, 0.12);
$shadow-bubble: 0 3px 12px rgba(0, 0, 0, 0.1);
